.#*
*~
!/gradle/wrapper/gradle-wrapper.jar
.gradle
.idea/
*.iml
*.ipr
nohup.out
scratch.xqy
z.*
zz.*
zzz.*

# Idea specific ones
out/
build/
sdk/
.gradle/
.idea/
*.iml
*.ipr
*.iws
.shelf/

.DS_Store

/zcruft
/neo4j/database
/database
/docker/MarkLogic*.rpm
.terraform
terraform.tfstate*
.terraform.tfstate.lock.info
